body {
  background: #121010;
  color: white;
  padding-top: 0px;
  padding-left: 0px;
}

.monitor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.sound_button {
  position: absolute;
  margin-left: 745px;
  margin-top: 665px;
  z-index: 101;
  border-radius: 5px;
  border-color: darkgrey;
  color: rgb(255, 255, 255);
  background-color: #858585;
}

.channel_button {
  position: absolute;
  margin-left: 655px;
  margin-top: 665px;
  z-index: 101;
  border-radius: 5px;
  border-color: darkgrey;
  color: rgb(255, 255, 255);
  background-color: #858585;
}

.container {
  background: #121010;
  width: 800px;
  height: 560px;
  margin-top: 10px;
  position: absolute;
  top: 80px;
  left: 114px;
  overflow: hidden;
  border: 2px solid #121010;
  z-index: 2;
}
.container::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@keyframes overlay-anim {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: visible;
  }
  21% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
.overlay {
  color: #00ff00;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 60px;
  visibility: hidden;
  pointer-events: none;
}

.container .overlay {
  animation: overlay-anim 0.001s infinite;
  animation-fill-mode: forwards;
}

.canvas {
  position: absolute;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  width: 800px;
  height: 560px;
  border: true;
  border-color: white;
}
